# Imports

In [0]:
import os
from pathlib import Path
import pandas as pd

In [0]:
%ls

data/  drive/  sample_data/

# Data Exploration

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
ls data/song_data/A/A/A/

TRAAAAW128F429D538.json  TRAAAFD128F92F423A.json  TRAAARJ128F9320760.json
TRAAABD128F429CF47.json  TRAAAMO128F1481E7F.json  TRAAAVG12903CFA543.json
TRAAADZ128F9348C2E.json  TRAAAMQ128F1460CD3.json  TRAAAVO128F93133D4.json
TRAAAEF128F4273421.json  TRAAAPK128E0786D96.json

In [0]:
PATH = Path('data/')

In [0]:
len(list((PATH / 'song_data').rglob('*.json')))

71

We have 71 songs metadata.

In [0]:
len(list((PATH / 'log_data').rglob('*.json')))

30

We have 30 files where each one has logs data.

In [0]:
len(list(PATH.rglob('*.json')))

101

## Songs Metadata

In [0]:
songs_files = list((PATH / 'song_data').rglob('*.json'))
song_df = pd.read_json(songs_files[0], lines=True)
song_df.head()

            artist_id  artist_latitude  ...                  title  year
0  ARD0S291187B9B7BF5              NaN  ...  Keepin It Real (Skit)     0

[1 rows x 10 columns]

In [0]:
for i, f in enumerate(songs_files):
    if i == 0:
        songs_df = pd.read_json(f, lines=True)
    else:
        songs_df = songs_df.append(pd.read_json(f, lines=True), ignore_index=True)

In [0]:
songs_df.head()

            artist_id  ...  year
0  ARD0S291187B9B7BF5  ...     0
1  AR7G5I41187FB4CE6C  ...  1982
2  ARNTLGG11E2835DDB9  ...     0
3  ARD7TVE1187B99BFB1  ...     0
4  ARKFYS91187B98E58F  ...     0

[5 rows x 10 columns]

In [0]:
songs_df.shape

(71, 10)

## Logs Data

In [0]:
logs_files = list((PATH / 'log_data').rglob('*.json'))
log_df = pd.read_json(logs_files[0], lines=True)
log_df.head()

                       artist  ... userId
0  The Future Sound of London  ...     26
1                    Harmonia  ...     26
2                        None  ...
3                        None  ...
4                        None  ...

[5 rows x 18 columns]

In [0]:
log_df.shape, song_df.shape

((358, 18), (1, 10))

In [0]:
logs_files = list((PATH / 'log_data').rglob('*.json'))
for i, f in enumerate(logs_files):
    if i == 0:
        logs_df = pd.read_json(f, lines=True)
    else:
        logs_df = logs_df.append(pd.read_json(f, lines=True), ignore_index=True)

In [0]:
logs_df.head()

                       artist  ... userId
0  The Future Sound of London  ...     26
1                    Harmonia  ...     26
2                        None  ...
3                        None  ...
4                        None  ...

[5 rows x 18 columns]

In [0]:
logs_df.shape

(8056, 18)

In [0]:
logs_df.columns

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [0]:
(logs_df['page'] == 'NextSong').sum()

6820

In [0]:
logs_df['page'].value_counts()

NextSong            6820
Home                 806
Login                 92
Logout                90
Downgrade             60
Settings              56
Help                  47
About                 36
Upgrade               21
Save Settings         10
Error                  9
Submit Upgrade         8
Submit Downgrade       1
Name: page, dtype: int64

In [0]:
logs_files[0].resolve()

PosixPath('/content/data/log_data/2018/11/2018-11-24-events.json')